html {
  margin: 0;
  padding: 0;
  font-size: 24rpx;
  color: #3c3c3c;
}


.list {
  border-bottom: #3498db solid 1px;
  padding: 25rpx;
}

.title {
  font-weight: 700;
  font-size: 32rpx;
  margin-bottom: 20rpx;
}

.subtitle {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  /* font-size: 24rpx; */
}

.subtitle div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subtitle .left {
  width: 48%;
  float: left;
}

.subtitle .right {
  width: 48%;
  float: right;
}


.card-item {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 15rpx 25rpx;
}

.value {
  padding-left: 10rpx;
  width: 100%;
}

.key {
  width: 30%;
}


.tools {
  position: fixed;
  width: 100%;
  bottom: 20px;
  right: 20rpx;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 60rpx auto;
}

input {
  background-color: #eee;
  border-radius: 3px;
}

textarea {
  width: 100%;
  border-radius: 3px;
  background-color: #eee;
}

button {
  background-color: #3498db;
  color: #fff;
  width: 80px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  /* margin: 20rpx auto; */
}

.searchbox {
  position: fixed;
  top: 0;
  /* left: 5%; */
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
}

.searchbox>.searchval {
  border-radius: 3px 0 0 3px;
  padding: 10rpx;
  width: 75%;
  display: inline-block;
}

.searchbox>.searchbtn {
  border-radius: 0 3px 3px 0;
  padding: 10rpx;
  width: 20%;
  display: inline-block;
  text-align: center;
}

.danger {
  background-color: #e74c3c;
}

.placeholder {
  height: 50px;
}

/* 


.subtitle div {
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
  text-overflow: ellipsis;
}




.navbar button {
  margin: 0 100rpx;
}

.todos {
  margin-bottom: 30rpx;
  border-bottom: gray 1px solid;
}

.header {
  font-size: 32rpx;
  margin-bottom: 10rpx;
}

.body {
  margin-bottom: 10rpx;
}

.footer {
  margin-bottom: 10rpx;
}
*/
