@import 'card.css';

html {
  margin: 0;
  padding: 0;
  font-size: 24rpx;
  background-color: #ecf0f1;
  color: #3c3c3c;
}

/* 

.list {
  padding: 25rpx;
} */

.header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.content {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.value {
  padding-left: 10rpx;
  width: 100%;
}

.key {
  width: 30%;
}


.tools {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  padding-right: 30px;
  padding-bottom: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* margin: 60rpx auto; */
  margin-left: 100px;
}

input {
  background-color: #fff;
  /* border-radius: 3px; */
}


textarea {
  width: 100%;
  /* border-radius: 3px; */
  background-color: #fff;
}


.btn {
  padding: 0;
  margin: 0;
  background-color: #409eff;
  color: #fff;
  width: 80px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  margin-left: 20px;
}

.btn.circle {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 22px;
}


.left {
  float: left;
}

.right {
  float: right;
}

.btn:hover {
  background-color: #2980b9;
}

.searchbox {
  position: fixed;
  top: 0;
  width: 97%;
  box-sizing: border-box;
}

.searchbox>input:first-child {
  width: 80%;
  border-radius: 0;
  display: inline-block;

}

.searchbox>input:last-child {
  border-radius: 0;
  width: 20%;
  display: inline-block;
  text-align: center;
}

.danger {
  background-color: #e74c3c;
}

.danger:hover {
  background-color: #c0392b;
}

.placeholder {
  height: 50px;
}

.done {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #67c23a
}

.disdone {
  background-color: #fef0f0;
  border-color: #fde2e2;
  color: #f56c6c
}

switch {}
